nav {
    display: flex;
    justify-content: center;
    background: var(--main-colour-1);
}

.img_container {
    height: 100%;
    width: 85px;
    cursor: pointer;
}
.img_container > img {
    height: 100%;
    width: 100%;
}